[Unit]
Description=Timer for the Raspberry Pi Prometheus exporter

[Timer]
OnBootSec=0min
OnCalendar=*:*:0,15,30,45

[Install]
WantedBy=timers.target
